:root {
  --primaryColor: #d49e73;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #cfcfcf;
  --lightGrey: #f0f0f0;
  --darkGrey: #a6a6a6;
  --darkRed: #a20606;
  --darkGreen: #2a9270;
  --darkBlue: #302a92;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --defaultGradien: linear-gradient(
    rgb(212, 158, 115, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  --greyGradien: linear-gradient(rgb(207, 207, 207, 0.7), rgba(0, 0, 0, 0.7));
  --maxWidth: 1280px;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 4px;
  --headerHeight: 62px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  color: var(--mainWhite);
  background: var(--mainBlack);
  line-height: 1.4;
  font-size: 1rem;
}
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul,
li {
  text-decoration: none;
  display: block;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 62px);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.25rem;
  height: 62px;
  font-size: calc(10px + 2vmin);
  color: var(--mainBlack);
  background: var(--mainWhite);
}
.header-logo-content {
  display: flex;
  align-items: center;
  max-height: 62px;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0 0.25rem;
}
.header-logo {
  max-width: 100%;
  height: 50px;
  margin-top: 8px;
  border: none;
}
.header-first-name {
  margin-left: 1rem;
  color: var(--mainBlack);
  display: none;
}
.header-last-name {
  color: var(--primaryColor);
  display: none;
}
.header-social {
  min-width: 62px;
}

.btn-white {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  background: var(--mainBlack);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  margin: 20px;
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}

video,
.capture {
  border: 2px solid var(--primaryColor);
  margin-top: 100px;
}

.prediction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.prediction-result {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.onoffswitch {
  position: relative;
  width: 90px;
  margin-top: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  box-sizing: unset;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: 'Face';
  padding-left: 10px;
  background-color: var(--primaryColor);
  color: var(--mainWhite);
}
.onoffswitch-inner:after {
  content: 'Back';
  padding-right: 10px;
  background-color: var(--mainWhite);
  color: var(--darkGrey);
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid var(--mainBlack);
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

@media screen and (min-width: 640px) {
  .header {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .header-first-name,
  .header-last-name {
    display: flex;
  }
  .header-social {
    min-width: 220px;
  }
}
@media screen and (min-width: 1200px) {
}
